@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');
:root{
	--fonts: 'Raleway', sans-serif;
	--fontSize: 16px;
	--white: #fff;
	--lightgray: lightgray;
	--gray: #9a9a9a;
	--blue: #5385c1;
	--transition: .4s ease;
	--padding: 100px 0;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: var(--fonts);
	font-size: var(--fontSize);
	letter-spacing: 2px;
	color: var(--gray);
	line-height: 2;
}
h1, h2, h3, h4 {
	font-weight: 100;
	letter-spacing: 2px;
}
.container {
	width:80%;
	margin:auto;
}
.container::after {
	display: block;
	content: "";
	clear: both;
}
a:hover {
	transition: var(--transition);
}
button {
	background: var(--blue);
	padding: 15px 30px;
	color: var(--white);
	font-size: 1rem;
	border: none;
	text-transform: uppercase;
}
button:hover {
	cursor: pointer;
	background: var(--gray);
	transition: var(--transition);
}
/********* HEADER ********/
header {
	border-top: 7px solid var(--blue);
	background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/header.jpg);
	background-position: center;
	background-size: cover;
}
nav {
	padding-top: 40px;
}
.logo {
	float: left;
	font-size: 2rem;
	text-decoration: none;
	color: var(--white);
	font-weight: 200;
	letter-spacing: 2px;
}
.logo:hover {
	color: var(--blue);
}
nav ul{
	float: right;
}

nav ul li{
	display: inline-block;
}
nav ul li a{
	color: var(--white);
	text-decoration: none;
	padding-left: 70px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
nav ul li a:hover{
	color: var(--blue);
}
hgroup {
	text-align:center;
	padding: 150px 0 230px 0;
}
hgroup h1{
	font-size: 5rem;
	color: var(--white);
	padding-bottom: 30px;
}
hgroup h5{
	color: var(--lightgray);
	font-size: 1.5rem;
}
/********* INTRO ********/
.intro{
	padding: var(--padding);
}
.intro article{
	width:33%;
	float: left;
	padding: 50px;
	border-right: 1px solid var(--gray); 
}
.intro article:last-child{
	border: none; 
}
.intro h2{
	color: var(--blue);
	padding-bottom: 30px;
}
.intro p{
	color: var(--blue);
	padding-bottom: 30px;
}
/********* TEAM ********/
.team{
	padding: var(--padding);
	text-align:center;
	background: var(--blue);
}
.team article{
	width: 25%;
	float: left;
}
.team .wrapper{
	border: 1px solid var(--lightgray);
	margin: 20px;
	padding-top: 30px;
}
.team img{
	width: 60%;
	border-radius: 50%;
}
.team h2{
	color: var(--white);
	font-size: 3rem;
	padding-bottom: 20px;
}
.team h2 + p {
	color: var(--lightgray);
	font-size: 1.2rem;
	padding-bottom: 50px;
}
.team h4{
	color: var(--white);
	font-size: 1.4rem;
	padding: 15px 0;
}
.team article p{
	color: var(--lightgray);
	font-size: 1.2rem;
	padding-bottom: 30px;
}